<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="apple-touch-icon" href="apple-touch-icon.png">
	<link rel="stylesheet" href="css/main.min.css"> 
	<link href="https://fonts.googleapis.com/css?family=arial:500,800" rel="stylesheet" media="all">
{# 	<meta property="og:title" content="Coapenitos Cancun, Mexico">
	<meta property="og:type" content="article">
	<meta property="og:url" content="http://coapenitos.com/">
	<meta property="og:url" content="http://coapenitos.com/menu_coapenitos.pdf">
	<meta property="og:image" content="http://coapenitos.com/img/opengraph.png">
	<meta property="og:image:type" content="image/png">
	<meta property="og:image:width" content="600">
	<meta property="og:image:height" content="600">
	<meta property="og:description" content="Los tacos mas Coapos.">
	<meta name="author" content="@socialastronauts">
	<meta name="keywords" content="{{ keywords }}"> #}
</head>
<body class="background">
	<div class="container">
		<div class="col-12">
			
		</div>
	</div>
	<script src="assets/bootstrap.js"></script>
</body>
</html>