<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="apple-touch-icon" href="apple-touch-icon.png">
	{# <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> #}
	<link rel="stylesheet" href="css/main.min.css">
</head>
<body>
	{# <nav class="navbar navbar-expand-sm">
		<a class="navbar-brand" href="/">
			<img src="img/logo.png" class="" alt="Mayan Xtreme">
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse " id="navbarSupportedContent">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item active">
					<a class="nav-link" href="#">HOME </a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">TOURS</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">GALLERY</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">CONTACT</a>
				</li>
			</ul>
		</div>
	</nav>		 #}
	<nav class=" navbar navbar-expand-lg fixed-top">
			<div class="container-fluid">
				<a href="./" class="navbar-brand">
					<a class="navbar-brand" href="/">
						<img src="img/logo.png" class="" alt="Mayan Xtreme">
					</a>
				</a>
				<button class="navbar-toggler navbar-toggler-right p-2 ml-auto" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
					<div id="menuanim">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>                  
				</button>
				<div class="collapse navbar-collapse " id="navbarSupportedContent">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item active">
							<a class="nav-link" href="#">HOME </a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">TOURS</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">GALLERY</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">CONTACT</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	<header class="container-fluid" id="home">
			s
	</header> 
	<div class="container">
		<div class="col-12">
			
		</div>
	</div>
    <section class="container py-5" id="tours">
        <div class="row my-5 py-5">
            <div class="col-lg-6 col-12">
                <img src="https://dummyimage.com/400x300/fff/000">
            </div>
            <div class="col-lg-6 col-12">
                <h2 class="pb-5">Get ready the adventure</h2>
                <p class="pb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus saepe eos quam nam quisquam, animi itaque enim explicabo illum. Id quo ea harum facilis qui deserunt nihil commodi quidem quas?</p>
                <a class="btn btn-outline-dange">READ MORE</a>
            </div>
        </div>
	</section>
    <section class="py-5 my-5" id="tours2">
		<div class="container py-5 my-5">
			<div class="row">
				<div class="col-lg-6 col-12 mt-5">
					<h2>Get ready the adventure</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus saepe eos quam nam quisquam, animi itaque enim explicabo illum. Id quo ea harum facilis qui deserunt nihil commodi quidem quas?</p>
				</div>
				<div class="col-lg-6 col-12">
					<img src="https://dummyimage.com/400x300/000/fff">
				</div>
			</div>
		</div>
	</section>
	
    
	<section class="container fluid my-5 py-5" id="galery">
		<div class="col-12">
			<!-- LightWidget WIDGET --><script src="//lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/5a4cdb2429e3591a960d6da8a92e7149.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>

		</div>
	</section>
	<section class="container py-5 my-5" id="contact">					
		<div class="row">
			<div class="col-12 col-lg-6">
				<h2 class="pb-2">Extreme Riviera Maya</h2>
				<h3 class="pb-5">Learn more about the project</h3>
				<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo adipisci nisi cum, nesciunt vero accusantium molestias quas suscipit saepe eveniet similique impedit a totam iste ullam amet eum, nemo enim.</p>
				<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque numquam soluta, deleniti quas necessitatibus deserunt optio suscipit aspernatur adipisci commodi perspiciatis aliquid quia rem aut obcaecati officiis quo, expedita dicta.</p>
				<br>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque consectetur at labore, doloribus nesciunt, excepturi nihil enim dolorem non maxime cumque magni sequi. Voluptatibus nihil accusamus quas fugit reprehenderit itaque.</p>
			</div>
			<div class="col-12 col-lg-6">
				<h2>jkjeknkej</h2>
				<section class="contact  shadow" id="contact_form">
					<div class="row">
						<div class="col-12">
							<div id="contact_results"></div>
						</div>
						<div class="col-12 pb-2">
							<input type="text" name="name" id="name" required="true" class="input-field w-100"  placeholder="Name(s)">
						</div>
						<div class="col-12 py-2">
							<input type="email" name="email" id="email" required="true" class="input-field w-100" placeholder="Your E-mail Adress">
						</div>
						<div class="col-12 py-2">
							<textarea name="message" id="message" class="textarea-field w-100" required="true" rows="6" placeholder="Comment"></textarea>
						</div>
						<div class="col-4">
							<input id="submit_btn" class="btn btn-submit" type="submit" value="Send">
						</div>
					</div>
				</section>
			</div>
		</div>		
	</section>					
	<footer class="container-fluid">
		<div class="row m-5">
			<div class="col d-flex justify-content-center">WOODWARD</div>
			<div class="col d-flex justify-content-center">PARTY ROCKERS</div>     
		</div>
		<div class="row m-5">
			<div class="col">Lorem ipsum dolor sit amet, consectetu.</div>
			<div class="col d-flex justify-content-end">Follow us</div>
		</div>
	</footer>				


		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="assets/bootstrap.min.js"></script>
		<script src="js/plugins.js"></script>
		<script>
				$(document).ready(function() {
							$("#submit_btn").click(function() {
									var proceed = true;
									//simple validation at client's end
									//loop through each field and we simply change border color to red for invalid fields
									
									if (proceed) //everything looks good! proceed...
									{
											//get input field values data to be sent to server
											post_data = {
													//'ciudad': $('select[name=ciudad]').val(),
													'user_name': $('input[name=name]').val(),
													'group_size': $('input[name=size]').val(),
													'user_email': $('input[name=email]').val(),
													//'phone_number': $('input[name=phone]').val(),
													//'msg': $('textarea[name=message]').val(),
													// 'nave': $('input[name=nave]').val(),
													//'origen': $('input[name=origen]').val(),
													//'destino': $('input[name=destino]').val(),
													//'numero_personas': $('input[name=quantity]').val(),
													//'fecha_salida': $('input[name=salida').val(),
													//'fecha_llegada': $('input[name=fecha_llegada').val(),
													// 'mensaje': $('input[name=message').val(),
											};
											//Ajax post data to server
											$.post('php/contact_me.php', post_data, function(response) {
													if (response.type == 'error') { //load json data from server and output message
															output = '<div class="error">' + response.text + '</div>';
													} else {
															output = '<div class="success">' + response.text + '</div>';
															//reset values in all input fields
															$("#contact_form  input[required=true]").val('');
															$("#contact_form #contact_body").slideUp(); //hide form after success
															document.getElementById("name").value="";
															document.getElementById("email").value="";
													}
													$("#contact_form #contact_results").hide().html(output).slideDown();
											}, 'json');
									}
							});
			
							//reset previously set border colors and hide all message on .keyup()
							$("#contact_form  input[required=true],").keyup(function() {
									$(this).css('border-color', '');
									$("#result").slideUp();
							});
					});
			
			</script>

</body>
</html>