<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="apple-touch-icon" href="apple-touch-icon.png">
	<link rel="stylesheet" href="/css/main.min.css"> 
	<link href="https://fonts.googleapis.com/css?family=arial:500,800" rel="stylesheet" media="all">
{# 	<meta property="og:title" content="Coapenitos Cancun, Mexico">
	<meta property="og:type" content="article">
	<meta property="og:url" content="http://coapenitos.com/">
	<meta property="og:url" content="http://coapenitos.com/menu_coapenitos.pdf">
	<meta property="og:image" content="http://coapenitos.com/img/opengraph.png">
	<meta property="og:image:type" content="image/png">
	<meta property="og:image:width" content="600">
	<meta property="og:image:height" content="600">
	<meta property="og:description" content="Los tacos mas Coapos.">
	<meta name="author" content="@socialastronauts">
	<meta name="keywords" content="{{ keywords }}"> #}
</head>
<body class="background">
<header class="container-fluid" id="home">
        s
</header> 
	<div class="container">
		<div class="col-12">
			
		</div>
	</div>
    <section class="container" id="tours">
        <div class="row my-5">
            <div class="col-lg-6 col-12">
                <img src="https://dummyimage.com/400x300/000/fff">
            </div>
            <div class="col-lg-6 col-12">
                <h2>Get ready the adventure</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus saepe eos quam nam quisquam, animi itaque enim explicabo illum. Id quo ea harum facilis qui deserunt nihil commodi quidem quas?</p>
                <button>READ MORE</button>
            </div>
        </div>
         <div class="row my-5">
            <div class="col-lg-6 col-12 mt-5">
                <h2>Get ready the adventure</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus saepe eos quam nam quisquam, animi itaque enim explicabo illum. Id quo ea harum facilis qui deserunt nihil commodi quidem quas?</p>
            </div>
            <div class="col-lg-6 col-12">
                <img src="https://dummyimage.com/400x300/000/fff">
            </div>
        </div>
    </section>
    <footer class="container-fluid">
        <div class="row m-5">
            <div class="col d-flex justify-content-center">WOODWARD</div>
            <div class="col d-flex justify-content-center">PARTY ROCKERS</div>     
        </div>
        <div class="row m-5">
            <div class="col">Lorem ipsum dolor sit amet, consectetu.</div>
            <div class="col d-flex justify-content-end">Follow us</div>
        </div>
    </footer>
</body>
	<script src="/assets/bootstrap.js"></script>
</html>