@require 'bootstrap.css'
@require 'undvars'



.background
	background-size: cover
	background-position: center
	background-repeat: no-repeat
	background-image: url('/img/background.png') !important
	margin: 0
	padding: 0
	width: 100%
	min-height: 100vh
	overflow-x: hidden
@font-face
	font-family: "TragicMarker"
	src: url(../fonts/TragicMarker.otf) format("truetype")	
#menu
	.logo
		display: block!important
	.img1
		transition: .3s ease-in-out
		&:hover 
			-webkit-transform: rotate(4deg) scale(1.4)
			transform: rotate(-5deg) scale(1.1)
			-webkit-transition: .3s ease-in-out
			transition: .3s ease-in-out
	.img2
		transition: .3s ease-in-out
		&:hover 
			-webkit-transform: rotate(4deg) scale(1.4)
			transform: rotate(5deg) scale(1.1)
			-webkit-transition: .3s ease-in-out
			transition: .3s ease-in-out
			
	p
		color $cope
		text-align: center
	

#ubicacion
	.text-cope
		color $cope !important
	#map1
		height 60vh
		width 65%	
		border: 10px solid $cope