@require 'bootstrap.css'
@require 'undvars'

body
	background-color: black
	color: white
#home
	background-image: url('../img/baner1.png')
	background-size cover
	background-repeat: no-repeat
	background-position: center center
	height: 100vh!important
#tours
	h2
		font-family: "Mont Bold"
		font-size: 31px
	p
		font-family: "Mont Regular"
		font-size: 14px
	.btn
		background-color: #3ACE16
		width: 314px
		padding: 12px
		border-radius: 50px	
#tours2
	background-image: url('../img/fondo.png')
	background-size: cover
	background-position: center center
	min-height: 70vh
#contact
	h2
		font-family: "Mont Bold"
		font-size: 31px
		color #FFA939
	h3
		font-family: "Mont Regular"
		font-size: 22px
	p
		font-family: "Mont Regular"
		font-size: 14px
	.btn
		background-color: #3ACE16
		width: 314px
		padding: 12px
		border-radius: 50px	
.navbar 
	background-color: transparent
	.nav-link
		font-family: "Mont SemiBold"
		font-size: 16px
		color: white